<template>
    <div class="footer">
        <hr>
        <p>
            &#169; {{ (new Date()).getFullYear() }}, 
            <a href="http://www.udenar.edu.co/" target="_blank">Universidad de Nariño</a><br>
            Ingenieria de Software Aplicada<br>
        </p>
    </div>
</template>
<script>
import Vue from 'vue';

export default {
    name: 'footerbar',
}
</script>
<style lang="scss" scoped>
    .footer {
        height: 80px;
        width: 100%;
        background-color: $secondary;
        p {
            color: $light-primary;
            text-align: center;
            a {
                color: $light-primary;
                &:hover {
                    color: $light-primary;
                }
            }
        }
    }
</style>