<template>
    <div>
        <aside id="sidebar">
            <div id="nav-services" class="sidebar-item">
                <h3>Aqui puedes</h3>
                <a href="/newservice" class="btn btn-succes"><h3>Publicar Servicio</h3></a>  
            </div>
        </aside> 
        <div class="clear-fix"> </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';

export default {
    name: 'sidebar',
}
</script>

<style lang="scss" scoped>

    #sidebar{
        float: right;
    }

    .sidebar-item{
        background: $primary;
        padding: 15px;
        margin-top: 30px;
        box-shadow: 0px 0px 5px black;
    }
    .sidebar-item h3{
        text-transform: uppercase;
        font-size: 15px;
        margin: 0px;
        border-bottom: 3px solid white;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-shadow: 0px 0px 5px #444;
    }   
    .sidebar-item .btn {
        margin: 0px;
        margin-top: 10px;
    }
    .btn{
        display: block;
        color: white;
        padding: 15px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        max-width: 120px;
        transition: 300ms all;
        border: none;
        cursor: pointer;
    }

    .btn-succes {
        background: $secondary;
        color: $light-primary;
    }
    .btn-succes:hover {
        background: darkgoldenrod;
        text-decoration: none;
        
    }
    h3 {
        color: white;
        font-weight: bold;
    }
    .clear-fix{
        clear: both;
        float: none;
    }
   
</style>