<template>
    <div class="cont-img">
        <h3>Galeria de fotos </h3>
        <img src="https://img-global.cpcdn.com/recipes/1092b3a8eb4d2248/400x400cq70/photo.jpg" alt="">
        <img src="https://static4.todobonito.com/m/2019/04/torta-fiesta-helados-11.jpg" alt="">
       <img src="https://www.madamia.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/_/m_m_s.png" alt="">
       <img src="https://www.irenemilito.it/wp-content/uploads/2018/06/Black-Forest-Cake-55.jpg" alt="">
    </div>
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';


export default {
    name: 'galery',
}
</script>

<style lang="scss" scoped>
h3 {
    text-shadow: 0px 0px 5px black;
    color: azure;
    text-align: left;
}
.cont-img {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    float: left;
    width: 74%;
}
.cont-img img {
    width: 200px;
    height: 200px;
    float: left;
    padding-left: 10px;
}
</style>