<template>
    <div>
        <div id="detail-header-worker">
            <img class="image-wrap" :src="user.photo" alt="Photo">
            <div class="info" id="star-calification">
                <!--nombre trabajador que se trae de ka data-->
                <h2 class="">{{user.firstName}}&nbsp;{{user.lastName}}, 39 Años</h2>
                <div id="star-icon">
                    <img src="https://image.flaticon.com/icons/svg/616/616489.svg" alt="">
                    <img src="https://image.flaticon.com/icons/svg/616/616489.svg" alt="">
                    <img src="https://image.flaticon.com/icons/svg/616/616489.svg" alt="">
                </div>
            </div><br><br><br><br>
            <div class="info" id="detail-contact">
                <h6>{{user.address}} &nbsp; {{user.city}}</h6>
                <!--correo trabajador que se trae de ka data-->
                <h6>{{user.email}}</h6>
                <button v-on:click="sendEmail()" class="btn btn-succes" id="btn-contract">Contratar</button>
            </div >
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';
import emailjs from 'emailjs-com';

export default {
    name: 'infoWorker001',
    data: () =>({
        //ddatos donde se va a enviar el correo.
        from_to_email: "carlosandreslz777@gmail.com",
        from_user: "Nombre prueba",
        //datos de la persona que esta contratando.
        correo_contratante: "correoprueba@hotmail.com",
        tel_contratante: "0000000000"
    }),
    props: {
        user: {}
    },
    methods: {
        sendEmail: function() {
            alert(this.from_to_email);
            emailjs.init("user_sfKWoj3UhnQNpQlWk2L1C");
            emailjs.send("gmail", "send-ntf", 
            {"from_name":"Finding JObs",
            "from_to_email":this.from_to_email,
            "from_email":"findingjobs66@gmail.com",
            "from_user": this.from_user,
            "correo_contratante":this.correo_contratante,
            "tel_contratante":this.tel_contratante}).then((result) => {
                        alert("OK¡ "+this.from_user
                        +" ya recibio un correo de notificación, pronto se pondra en contacto contigo.")
                        console.log('SUCCESS!', result.status, result.text);
                    }, (error) => {
                        alert("algo salio mal"+ error);
                        console.log('FAILED...', error);
                    });
            }
    }
}
</script>

<style lang="scss" scoped>
h2{
    padding: 0px;
}
h6{
    font-weight: normal;
    font-size: 12px;
    padding: 0px;
}
#detail-header-worker {
    float: left;
    width: 74%;
    background: $primary;
    padding: 20px;
    height: 175px;
    border: none;
    box-shadow: 0px 0px 5px black;
}
#detail-header-worker .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
#detail-contact {
    text-align: left;
}
#star-icon img{
    float: left;
    padding: 0px;
    width: 24px;
    height: 24px;
}
.info {
    float: left;
}
.aling-center{
    text-align: left;
}
.btn{
    display: block;
    color: white;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}
.btn-succes {
    background: $secondary;
    color: $light-primary;
}
.btn-succes:hover {
    background: darkgoldenrod;
    text-decoration: none;      
}
</style>