<template>
    <div>
        <selection id="content">
            <div id="ultimate">
            </div>
            <div id="publics">
                <article class="publics-item" id="publics-template">
                    <div class="image-wrap">
                        <img :src="item.photo" alt="photo">
                    </div>
                    <h2>{{item.firstName}}</h2>
                    <div class="star"></div>
                    <span class="date">
                        Hace 5 minutos
                    </span>
                    <p>
                       {{item.descripcion}}
                    </p>
                    <a @click="detailworker()">Mas detalles</a>
                    <div class="clear-fix"> </div>
                </article>
            </div>
        </selection>
    </div>
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';

export default {
    name: 'lastServices001',
    props: {
        item: {}
    },
    methods: {
        detailworker () {
            this.$store.commit( 'sessionStorage/setUser', this.item );
            this.$router.push( '/detailworker' );
        }
    }
}
</script>

<style lang="scss" scoped>
    #content{
        width: 70%;
        float: left;
        //min-height: 650px;
        margin-right: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #ultimate {
        padding-top: 30px;
    }
    .star{
        background-image:url(https://image.flaticon.com/icons/svg/616/616489.svg);
        background-repeat:space;    
    }
    .publics-item {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: left;
    }
    .publics-item .image-wrap {
        width: 130px;
        height: 130px;
        overflow: hidden;
        float: left;
        margin-right: 15px;
    }
    .publics-item .image-wrap img {
        height: 100%;
        text-align: center;
        border: 0px;
    }

    .publics-item h2 {
        display: block;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 7px;
    }

    .publics-item .date {
        display: block;
        width: 100%;
        color: chocolate;
    }

    .publics-item a {
        display: block;
        color: $primary;
        text-decoration: none;
        margin-top: 16px;
        transition: 300ms all;
    }
    .publics-item a:hover{
        text-decoration: underline;
        color: lightgrey;
    }
    .publics-detail .image-wrap{
        float: none;
        width: 100%;
        height: 300px;
    }
    .publics-detail .image-wrap img{
        width: 100%;
        height: auto;
    }
    .clear-fix{
    clear: both;
    float: none;
    }
    .publics-item h2 {
        display: block;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 7px;
    }
    p {
        text-align: justify;
        font-style: italic;
        color: $light-primary;
    }
    h2 {
        color: $primary;
    }
   
</style>