$primary:#EBA406;
$secondary: #172D4C;
$light-primary: #fff;
$dark-primary: darken($primary, 10%);
$light-secondary: lighten($secondary, 10%);
$dark-secondary: darken($secondary, 10%);
$font-primary: undefined;
