<template>
    <div>
        <ImageViewer v-if="imgs.length>0" :imgs="imgs" />
        <md-field>
            <md-file v-model="img" placeholder="Seleccione una imagen" @change="addNewImage" />
        </md-field>
    </div>
</template>
<script>
import Vue from 'vue';
import Vuex from 'vuex';
import ImageViewer from '~/components/ImageViewer/image_viewer.vue';
import { uploadFetch } from "@/utils/apiFetch";
import { showAlert } from '@/utils/alerts';

export default {
    name: 'image_upload',
    components: {
        ImageViewer
    },
    data() {
        return {
            img: null
        }
    },
    props: {
        imgs: { type: Array, default: [] },
        size: { type: String, default: '100px' },
        limit: { type: Number, default: 2.5 },
        maxWidth: { type: Number, default: 1300 }
    },
    methods: {
        addNewImage () {
            const file = this.img.target.files[0];
            if (file) {
                if (file.size <= this.limit * 10 ** 6) {
                    const self = this;
                    // this.loading = true;
                    new this.$Compressor(file, {
                        quality: 0.6,
                        maxWidth: self.maxWidth,
                        success (result) {
                            const reader = new FileReader();
                            reader.onload = (e) => {
                                const image = new Image();
                                image.src = e.target.result;
                                image.onload = () => {
                                    if (image.width > image.height) {
                                        self.fullWidth = true;
                                        self.fullHeight = false;
                                    } else {
                                        self.fullWidth = false;
                                        self.fullHeight = true;
                                    }
                                };
                                self.dataImage = e.target.result;
                                // self.$emit('change', self.dataImage, result);
                                uploadFetch(self.dataImage).then( res => {
                                    self.imgs.push({src: res.url});
                                    if (self.reset) {
                                        self.dataImage = null;
                                    }
                                });
                                //self.loading = false;
                            };
                            reader.readAsDataURL(result);
                        },
                        error (err) {
                            console.error(err);
                            // self.loading = false;
                        }
                    });
                } else {
                    showAlert('Tamaño de imagen excedido. Máximo ' + this.limit + 'Mb', 'error', this);
                }
            }
        }
    },
}
</script>
<style lang="scss" scoped>
</style>