<template>
    <div class="md-layout md-alignment-center-center">
        <font-awesome-icon :icon="['fas', 'angle-left']" class="icon icon-left" @click="next()" />
        <div
            v-if="imgs[current-1]"
            class="md-layout-item md-size-15 md-elevation-5 img-visor"
            :style="{background: `url(${ imgs[current-1].src })`}" />
        <div
            v-if="imgs[current]"
            class="md-layout-item md-size-40 md-elevation-10 img-visor"
            :style="{background: `url(${ imgs[current].src })`}" />
        <div
            v-if="imgs[current+1]"
            class="md-layout-item md-size-15 md-elevation-5 img-visor"
            :style="{background: `url(${ imgs[current+1].src })`}" />
        <font-awesome-icon :icon="['fas', 'angle-right']" class="icon icon-right" @click="back()" />
    </div>
</template>
<script>
import Vue from 'vue';
import Vuex from 'vuex';
import { images } from '../../ts/queries';

export default {
    name: 'image_viewer',
    props: {
        imgs: Array
    },
    data() {
        return {
            current: 0
        }
    },
    computed: {
    },
    methods: {
        next () {
            if (this.current < this.imgs.length-1) {
                this.current = this.current + 1;
            }
        },
        back () {
            if (this.current > 0) {
                this.current = this.current - 1;
            }
        }
    },
}
</script>
<style lang="scss" scoped>
    .icon {
        margin: auto;
        background: $light-primary;
        font-size: 30px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        z-index: 100;
        &:hover {
            animation: heartBeat .8s;
            cursor: pointer;
        }
    }
    .md-layout-item {
        height: 100px;
    }
    .img-visor {
        background-position: center !important;
        background-size: cover !important;
    }
    .icon-left {
        left: 2%;
    }
    .icon-right {
        right: 2%;
    }
</style>