<template>
    <div class="background">
        <navbar/>
        <nuxt class="root-container" />
        <footerbar/>
    </div>
</template>
<script>
import Vue from 'vue';
import navbar from '~/components/Navbar/navbar.vue';
import footerbar from '~/components/Footerbar/footerbar.vue';
import { servicesData, queryRoles, queryAllUsers, getQuery, benefitData } from '@/ts/queries';
import { apiFetch } from '@/utils/apiFetch';

export default {
    components: {
        navbar,
        footerbar
    },
    beforeMount () {
        apiFetch(getQuery([servicesData, benefitData]), null).then( ( response ) => {
            const services = response.data.services;
            const benefits = response.data.benefits;
            this.$store.commit('data/setCartServices', services);
            this.$store.commit('data/setCartBenefits', benefits);
        });
        apiFetch(getQuery( [queryRoles, queryAllUsers] ), null).then( ( response ) => {
            const roles = response.data.user_rols;
            const users = response.data.users;
            this.$store.commit('sessionStorage/setRoles', roles);
            this.$store.commit('sessionStorage/setAllUsers', users);
        });
    },
    computed: {
        services () {
            return this.$store.state.data.cartServices;
        },

        benefits () {
            return this.$store.state.data.benefits;
        }
    }
}
</script>

<style lang="scss" scope>
    .background {
        width: 100%;
        height: 100%;
        background-color: $secondary;
    }
    .root-container {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 65px;
    }
    .drawer {
        max-height: 80px;
        width: 30%;
        margin-top: 10px;
        background-color: $primary;
        color: #ffffff;
        position: fixed;
        overflow-x: hidden;
        overflow-y: auto;
        @media screen and (max-width: 991px) {
            max-height: calc(100vh - 10px);
        }
    }

</style>
