<template>
<div>
    <div class="head">
        <img class="logoU" src="https://s3.amazonaws.com/apps-static-resources/public/app-project-daservicios-hz8g4kjf-dev/uploads/3270d3b0-8e59-11ea-b48c-29e45160b572.png" alt="udenarLogo">
        <img id="imagenAcerca" src="https://s3.amazonaws.com/apps-static-resources/public/app-project-daservicios-hz8g4kjf-dev/uploads/e45cbdc0-8e5c-11ea-bf84-ff0e50f16689.png" alt="imagenAcerca">
        <span class="tituloPag">Acerca de Nosotros</span>
    </div>
    <div class="container">
        <div class="container" id="contenidoAcerca">
            <div class="marker" />
            <div class="row">
                <div class="col-sm-6">
                    <span>
                        <p>
                            {{ about.description }}
                        </p>
                    </span><br><br>
                </div>
                <div class="col-sm-6">
                    <section>
                        <p>{{ about.ourStrategy }}.</p>
                        <p>Como principales funciones se tienen:</p>
                        <ul>
                            <li>{{ about.funtion1 }}</li>
                            <li>{{ about.funtion2 }}</li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="marker" />
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2 class="title">Misión</h2>
                    <p>
                        {{ about.mission }}
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2 class="title">Visión</h2>
                    <p>
                        {{ about.vision }}.
                    </p>
                </div>
            </div>
            <div class="marker" />
            <h1 id="responsables" style="text-align:center">Responsables</h1><br>
            <div class="row">
                <div id="cardItem" class="col-sm-12 col-md-6">
                    <div class="contenedor">
                        <h2>Scrum Team</h2>
                        <img src="@/assets/imgs/profile/estefany.png" alt="imagen">
                        <h3>Estefany Tulcán </h3>
                        <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                <font-awesome-icon :icon="['fab', 'twitter']" class="icon" />
                            </a>
                            <a class="btn btn-danger btn-sm" rel="publisher"
                            href="https://plus.google.com/+ahmshahnuralam">
                                <font-awesome-icon :icon="['fab', 'google-plus']" class="icon" />
                            </a>
                            <a class="btn btn-primary btn-sm" rel="publisher"
                            href="https://plus.google.com/shahnuralam">
                                <font-awesome-icon :icon="['fab', 'facebook']" class="icon" />
                            </a>
                        </div>
                    </div>
                </div>
                <div id="cardItem" class="col-sm-12 col-md-6">
                    <div class="contenedor">
                        <h2>Scrum Team</h2>
                        <img src="@/assets/imgs/profile/ocana.png" alt="imagen">
                        <h3>Carlos Ocaña</h3>
                        <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                <font-awesome-icon :icon="['fab', 'twitter']" class="icon" />
                            </a>
                            <a class="btn btn-danger btn-sm" rel="publisher"
                            href="https://plus.google.com/+ahmshahnuralam">
                                <font-awesome-icon :icon="['fab', 'google-plus']" class="icon" />
                            </a>
                            <a class="btn btn-primary btn-sm" rel="publisher"
                            href="https://plus.google.com/shahnuralam">
                                <font-awesome-icon :icon="['fab', 'facebook']" class="icon" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marker" />
            <section class="licencia">
                <span >
                    <br><br><br>
                    <p>Todos los elementos utilizados para el desarrollo de esta 
                        página poseen una licencia Freeware, lo cual garantiza su 
                        uso de forma gratuita en este proyecto</p>
                </span>
            </section>
            <div class="container" id="formContacto">
                <form id="formulario"></form>
                <div id="cabeceraForm">
                    <hr><h1  align="center">Comunícate con nosotros :</h1><hr>
                </div>
                
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><label for="nombres" form="formulario">Nombres </label></div>
                    <div class="col-sm-4"><input type="text" id="nombres" name="nombres" autocomplete="on" placeholder="Pedro Pablo" form="formulario" required></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><label for="telefono" form="formulario">Teléfono/Celular </label></div>
                    <div class="col-sm-4"><input type="text" id="altura" name="altura" autocomplete="on" placeholder="178" form="formulario" required></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><label for="correo" form="formulario">Correo Electronico </label></div>
                    <div class="col-sm-4"><input type="text" id="correo" name="correo" autocomplete="on" placeholder="correoelectronico@hotmail.com" form="formulario" required></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><label for="nombres" form="formulario">Mensaje </label></div>
                    <div class="col-sm-4"><textarea type="text" id="comentarios" name="comentario" placeholder="Escribe aqui tu mensaje" form="formulario" required></textarea></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div id="botonEnviar" class="col-sm-8">
                        <br><br><input style="width:100%;" type="submit" value="Envíar" name="btnEnviar" id="enviar" accesskey="u" form="formulario">
                    </div>
                </div>	
            </div>
        </div>
    </div>
</div>
</template>


<script>
import Vue from 'vue';
import card003 from '~/components/Card/card003.vue';

export default Vue.extend({
    components: {
        card003
    },
    data: () => ({
        about: [] = [],
    }),
    computed: {

    },
    mounted () {
        this.$store.commit('sessionStorage/setSearch', false);
        this.readData();
    },
    methods: {
        readData () {
            return fetch('http://localhost:4000/api/about', {
                method: 'get'
            })
            .then(res => res.json())
            .then( data => {
                console.log(data);
                this.about = data[0];
            })
            .catch((err) => {
                console.log(err);
            });

        },
    }
})
</script>

<style lang='scss' scope>
    .title {
        text-align: center;
    }

    #formContacto{
        background-color: $light-primary;
        padding: 0%;
        border-radius: 2vw;
        color:$secondary;
        #cabeceraForm{
            background-image: url("https://s3.amazonaws.com/apps-static-resources/public/app-project-daservicios-hz8g4kjf-dev/uploads/e45cbdc0-8e5c-11ea-bf84-ff0e50f16689.png");
            margin-bottom: 5vh;
            border-radius: 2vw 2vw 0 0;

            h1{
                padding-top:1vh;
                font-size:5vw;
                text-shadow: 0.2vw 0.2vw 0.4vw $secondary;
                color:$primary;
            }
        }
        input{
            border-radius: 1vw;
            background-color:rgb(216, 216, 216);
            color: $secondary;
            width: 100%;
        }
        #botonEnviar{
            margin-bottom: 5vw;
            input{
                background-color:rgb(88, 111, 124);
                color:$light-primary;
            }
        }
        #enviar:hover{
            box-shadow:  0.1vw 0.1vw 0.2vw $secondary;
            color:$primary;
        }
        textarea{
            background-color:rgb(216, 216, 216);
            color: $secondary;
            width: 100%;
            border-radius: 1vw;
        }
    }

    #responsables{
        padding-top:5vh;
        padding-bottom:5vh;
        font-size:5vw;
        text-shadow: 0.2vw 0.2vw 0.4vw black;
        color:$primary;
    }

    #imagenAcerca{
        width: 100%;
        height: 20vh;
        object-fit: cover;
        object-position: center center;
        overflow: hidden;
    }
    .logoU{
        margin-top: 5vh;
        position: absolute;
        object-fit: cover;
        object-position: center center;
        z-index: 99;
        width: 20vh;
        height: 20vh;
        top: 5vh;
        left: 1vw;
    }
@media screen and (max-width: 900px) {
    .logoU{
        width: 15vh;
        height: 15vh;
        top:8vh;

    }
    .tituloPag{
        top:12vh;
    }

}

    .tituloPag{
        position: absolute;
        width: 100%;
        height: auto;
        font-size: 5vw;
        color:$primary;
        z-index: 100;
        top: 17vh;
        left: 29vw;
        text-shadow: 0.2vw 0.2vw 0.4vw $secondary;
    }

    #contenidoAcerca{
        font-size:2vw;
        text-align: justify;
        color:rgb(189, 160, 131);
        line-height: 5vh;
        margin-top:5vh;
        margin-bottom:20vh;
    }
    .licencia{
        font-size: 70%;
        color: white;
    }
    #cardItem{
        background-color: $secondary;
        text-align: center;

        .contenedor{
            width: 90%;
            height: 90%;
            margin-left: 5%;
            margin-top: 5%;
            background: linear-gradient(270deg,$light-primary, $secondary);
            background-size: 400% 400%;

            -webkit-animation: AnimationName 9s ease infinite;
            -moz-animation: AnimationName 9s ease infinite;
            animation: AnimationName 9s ease infinite;

            @-webkit-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @-moz-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            border-radius: 5%;
            box-shadow: 1.5vw 1.5vw 0.8vw rgb(22, 22, 22);
            img{
                width: 80%;
                height: 50%;
            }
            h3,h2{
                background-color: $secondary;
                opacity: 60%;
                padding:2vw;
                text-shadow: .2vw .2vw 0.3vw rgb(0, 0, 0);
            }
        }
    }
.marker {
    width:50%;
    height: 5px;
    margin: auto;
    background-color: $primary;
    background: linear-gradient(to right, transparent 0%, rgba(saturate($primary, 50%), 0.7) 50%, transparent 100%);
    border-radius: 50%;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 991px){
        display: none;
    }
}
</style>