<template>
    <div class="total">
        <b-row align-v="center" align-h="center">
            <b-col col lg="8" sm="12" align-self="center">
                <div class="contenedor">
                    <form @submit.prevent="updateUser()">
                        <div class="container-logo">
                            <img class="logo" src="@/assets/imgs/logo5.png" alt="FInding Jobs">
                        </div>
                        <h1>Mi perfil</h1>
                        <div class="container-form">
                            <div class="group-input">
                                <label>Nombres</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user']" class="icon"/>
                                    <md-input v-model="user.firstName" @keyup="firstNameErrorFun()" />
                                </md-field>
                                <div class="error">{{ firstNameError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Apellidos</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user']" class="icon"/>
                                    <md-input v-model="user.lastName" @keyup="lastNameErrorFun()"/>
                                </md-field>
                                <div class="error">{{ lastNameError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Teléfono</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'phone-alt']" class="icon"/>
                                    <md-input v-model="user.phone" />
                                </md-field>
                            </div>
                            <div class="group-input">
                                <label>Dirección</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'address-card']" class="icon"/>
                                    <md-input v-model="user.address" @keyup="addressErrorFun()"/>
                                </md-field>
                                <div class="error">{{ addressError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Ciudad</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'city']" class="icon"/>
                                    <md-input v-model="user.city" @keyup="cityErrorFun()"/>
                                </md-field>
                                <div class="error">{{ cityError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Contraseña</label>
                                <md-field>
                                    <font-awesome-icon :icon="['fas', 'key']" class="icon"/>
                                    <md-input v-model="user.password" type="password" @keyup="passwordErrorFun()"/>
                                </md-field>
                                <div class="error">{{ passwordError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Confirmar Contraseña</label>
                                <md-field>
                                    <font-awesome-icon :icon="['fas', 'check-double']" class="icon"/>
                                    <md-input v-model="user.passwordConf" type="password" @keyup="passwordConfErrorFun()"/>
                                </md-field>
                                <div class="error">{{ passwordConfError }}</div>
                            </div>
                        </div>
                        <b-button type="submit">GUARDAR</b-button>
                    </form>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from 'vue';
import { setDatePickerVars } from '@/utils/material';
import { isEmpty, isNumeric, isEmail, isRangeLength, isConfPassword, existVal } from '@/utils/validations';
import { updateUser } from '@/ts/mutations';
import { apiFetch } from '@/utils/apiFetch';
import { showAlert } from '@/utils/alerts';
import SHA1 from 'sha1-es';

export default Vue.extend({
    data: () => ({
        user: {
            firstName: '',
            lastName: '',
            phone: '',
            role: '',
            address: '',
            city: '',
            password: '',
            passwordConf: '',
        },
       
        firstNameError: null,
        lastNameError: null,
        addressError: null,
        cityError: null,
        passwordError: null,
        passwordConfError: null
    }),
    computed: {
        roles() {
            return this.$store.state.sessionStorage.roles;
        },
        authenticated () {
            return this.$store.state.sessionStorage.authenticated;
        }
    },
    beforeMount () {
        this. user = Object.assign({},this.$store.state.sessionStorage.user);
        console.log( this.$store.state.sessionStorage.user );
        this.$store.commit('data/setOptionsMenu', {
            login: false,
            register: false,
            search: false
        });
        setDatePickerVars(this.$material);
    },
    methods: {
        updateUser () {
            if (this.isValidForm()) {
                const data = {
                    id: this.user.id,
                    firstName: this.user.firstName.trim(),
                    lastName: this.user.lastName.trim(),
                    phone: this.user.phone,
                    address: this.user.address.trim(),
                    city: this.user.city.trim(),
                    password: SHA1.hash(this.user.password)
                };
                apiFetch(updateUser(data), null).then((res) => {
                    showAlert('Sus datos han sido actualizados existosamente.', 'success', this, () => {
                        this.$router.push('/');
                    });
                    console.log(res);
                }).catch((err) => {
                    showAlert('No se pudo registrar al usuario, intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            }
        },
        isValidForm () {
            let isValid = !this.firstNameErrorFun();
            isValid = !this.lastNameErrorFun() && isValid;
            isValid = !this.addressErrorFun() && isValid;
            isValid = !this.cityErrorFun() && isValid;
            isValid = !this.passwordErrorFun() && isValid;
            isValid = !this.passwordConfErrorFun() && isValid;
            return isValid;
        },
        firstNameErrorFun () {
            this.firstNameError = isEmpty('Nombres', this.user.firstName);
            this.firstNameError = this.firstNameError ? this.firstNameError : isRangeLength('Nombres', this.user.firstName, 3);
            return this.firstNameError;
        },
        lastNameErrorFun () {
            this.lastNameError = isEmpty('Apellidos', this.user.lastName);
            this.lastNameError = this.lastNameError ? this.lastNameError : isRangeLength('Apellidos', this.user.lastName, 3);
            return this.lastNameError;
        },
        addressErrorFun () {
            this.addressError = isEmpty('Dirección', this.user.address);
            this.addressError = this.addressError ? this.addressError : isRangeLength('Dirección', this.user.address, 3);
            return this.addressError;
        },
        cityErrorFun () {
            this.cityError = isEmpty('Ciudad', this.user.city);
            this.cityError = this.cityError ? this.cityError : isRangeLength('Ciudad', this.user.city, 3);
            return this.cityError;
        },
        passwordErrorFun () {
            this.passwordError = isEmpty('Contraseña', this.user.password);
            this.passwordError = this.passwordError ? this.passwordError : isRangeLength('Contraseña', this.user.password, 8, 16);
            return this.passwordError;
        },
        passwordConfErrorFun () {
            this.passwordConfError = isEmpty('Confirmar Contaseña', this.user.passwordConf);
            this.passwordConfError = this.passwordConfError ? this.passwordConfError : isConfPassword('Conraseñas', this.user.password, this.passwordConf);
            return this.passwordConfError;
        }
    }
})
</script>

<style lang='scss' scope>
    .total {
        background: $secondary;
        height: 120vh;
        .row {
            width: 100%;
            height: 100%;
            .contenedor {
                padding: 20px 10px;
                background: $secondary;
                .container-logo {
                    margin: auto;
                    width: 100px;
                    .logo {
                        width: 100px;
                        margin: auto;
                        color: $light-primary;
                    }
                }
                h1 {
                    color: $light-primary;
                    font-size: 4vh;
                    text-align: center;
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                }
                .container-form {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-around;
                    .group-input {
                        width: 50%;
                        @media screen and (max-width: 991px){
                            width: 100%;
                        }
                    }
                }
                .btn {
                    background-color: $primary;
                    width: 100%;
                    border-radius: 10px;
                    &:hover {
                        background-color: $light-primary;
                        color: $primary;
                    }
                }
            }
        }
    }
</style>