<template>
    <div>
        <banner001 :items="getObjs(searchValue, services, false, true)" />
        <div class="title">
            <h3>NUESTROS BENEFICIOS</h3>
            <div class="marker" />
        </div>
        <div class="content">
            <card001
                v-for="(benefit, index) in benefitApiNode"
                :key="index"
                :item="benefit"
            >
                <div slot="face1"> 
                    <img :src="benefit.icon" alt="icono">
                </div> 
                <div slot="face2">
                    <a @click="getRedirect(benefit)">Leer más</a>
                </div>
            </card001>
        </div>
        <div class="title">
            <div class="marker" />
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import banner001 from '~/components/Banner/banner001.vue';
import card001 from '~/components/Card/card001.vue';
import { images } from '@/ts/queries';
import { getObjs } from '@/utils/defaults';


export default Vue.extend({
    components: {
        banner001,
        card001
    },
    data: () => ({
        images: [] = [],
        imagesList: [] = [
            '@/assets/consulting2.png',
            '@/assets/experience.png',
            '@/assets/partnership-handshake.png'
        ],
        benefitApiNode: [] = [],
    }),
    computed: {
        searchValue () {
            return this.$store.state.sessionStorage.searchValue;
        },

        services () {
            return this.$store.state.data.cartServices;
        },

        benefits () {
            return this.$store.state.data.benefits;
        }
    },
    mounted () {
        this.$store.commit('data/setOptionsMenu', {
            login: true,
            register: true
        });
        this.$store.commit('sessionStorage/setSearch', true);
        this.readData();
    },
    methods: {
        getRedirect(benefit) {
            this.$store.commit( 'data/benefitDetail', benefit );
            this.$router.push( '/information1' );
        },
        getObjs
        ,
        readData () {
            return fetch('http://localhost:4000/api/benefit', {
                method: 'get'
            })
            .then(res => res.json())
            .then( data => {
                console.log(data);
                this.benefitApiNode = data;
            })
            .catch((err) => {
                console.log(err);
            });

        },
    }
    
})
</script>

<style lang='scss' scope>
    .title {
        display: flex;
        flex-flow: column;
        max-width: 100%;
        height: 100px;
        padding: 20px;
        justify-content: center;

        h3 {
            color: $light-primary;
            font-weight: bold;
            text-align: center;
            font-size: 40px;
        }
        .marker {
            width:50%;
            height: 5px;
            margin: auto;
            background-color: $primary;
            background: linear-gradient(to right, transparent 0%, rgba(saturate($primary, 50%), 0.7) 50%, transparent 100%);
            border-radius: 50%;
            bottom: 0;
            left: 0;
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 991px){
                display: none;
            }
        }

    }
    .content {
        margin: 0;
        padding-top: 50px;
        padding: 0;
        justify-content: center;
        align-items: center;
        font-family: consolas;
        display: flex;
        flex-flow: row;
        @media screen and (max-width: 991px){
            display:block;
            padding: 38px;
        }
    }
</style>
