<template>
    <div class="total">
        <b-row align-v="center" align-h="center">
            <b-col col lg="8" sm="12" align-self="center">
                <div class="contenedor">
                    <form @submit.prevent="newService()">
                        <h1>CREAR SERVICIO</h1>
                        <div class="container-form">
                            <div class="group-input">
                                <label>Titulo</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user']" class="icon"/>
                                    <md-input v-model="title" @keyup="titleErrorFun()" />
                                </md-field>
                                <div class="error">{{ titleError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Descripción</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user']" class="icon"/>
                                    <md-textarea v-model="description" @keyup="descriptionErrorFun()" md-autogrow />
                                </md-field>
                                <div class="error">{{ descriptionError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Imagenes</label>
                                <ImageUpload :imgs="imgs" class="img-upload" />
                                <div class="error">{{ imgsError }}</div>
                            </div>
                        </div>
                        <b-button type="submit">GUARDAR</b-button>
                    </form>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from 'vue';
import { isEmpty } from '@/utils/validations';
import { mutationService } from '@/ts/mutations';
import { apiFetch } from '@/utils/apiFetch';
import { showAlert } from '@/utils/alerts';
import ImageUpload from '~/components/ImageViewer/image_upload.vue';

export default Vue.extend({
    components: {
        ImageUpload
    },
    data: () => ({
        title: null,
        description: null,
        imgs: [],
        titleError: null,
        descriptionError: null,
        imgsError: null
    }),
    computed: {
        authenticated () {
            return this.$store.state.sessionStorage.authenticated;
        }
    },
    beforeMount () {
        if (!this.authenticated) {
            this.$router.push('/');
        }
        this.$store.commit('sessionStorage/setSearch', false);
    },
    methods: {
        newService () {
            if (this.isValidForm()) {
                const data = {
                    title: this.title.trim(),
                    description: this.description.trim(),
                    images: this.imgs.map((img) => `{src: "${img.src}"}`).join(',')
                };
                apiFetch(mutationService(data), null).then((res) => {
                    showAlert('Servicio registrado existosamente.', 'success', this, () => {
                        this.$router.push('/services');
                    });
                }).catch((err) => {
                    showAlert('No se pudo registrar el servicio, intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            }
        },
        isValidForm () {
            let isValid = !this.titleErrorFun();
            isValid = !this.descriptionErrorFun() && isValid;
            isValid = !this.imgsErrorFun() && isValid;
            return isValid;
        },
        titleErrorFun () {
            this.titleError = isEmpty('Titulo', this.title);
            return this.titleError;
        },
        descriptionErrorFun () {
            this.descriptionError = isEmpty('Descripción', this.description);
            return this.descriptionError;
        },
        imgsErrorFun () {
            this.imgsError = isEmpty('Imagenes', this.imgs);
            return this.imgsError;
        }
    }
})
</script>

<style lang='scss' scope>
    .total {
        background: $light-primary;
        height: 120vh;
        .row {
            width: 100%;
            height: 100%;
            .contenedor {
                padding: 20px 10px;
                background: $secondary;
                border-radius: 5%;
                box-shadow: 1.5vw 1.5vh 20px rgb(39, 41, 41);
                h1 {
                    color: $light-primary;
                    font-size: 4vh;
                    text-align: center;
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                }
                .container-form {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-around;
                }
                .btn {
                    background-color: $primary;
                    width: 100%;
                    border-radius: 10px;
                    &:hover {
                        background-color: $light-primary;
                        color: $primary;
                    }
                }
                .img-upload {
                    width: 100%;
                }
            }
        }
    }
</style>