<template>
    <div  class="main-container">
        <h1>¡Servicios!</h1>
        <div class="list">
            <card002 
                v-for="(service, index) in getObjs(searchValue, services, false, true)"
                :key="index"
                class="list-card"
                :item="service"
            />
        </div>
    </div> 
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';
import card002 from '~/components/Card/card002.vue';
import { getObjs } from '@/utils/defaults';

export default Vue.extend({
    components: {
        card002
    },
    computed: {
        searchValue () {
            return this.$store.state.sessionStorage.searchValue;
        },
        services () {
            return this.$store.state.data.cartServices;
        }
    },
    mounted () {
        this.$store.commit('sessionStorage/setSearch', true);
    },
    methods: {
        getObjs
    }
})
</script>

<style lang='scss' scope>
    $marginService: 10px;
    .main-container {
        width: 100%;
        padding: 100px;
        height: 2100px;
        background-color: $secondary;
        justify-content: center;
        text-align: center;
        @media screen and (max-width: 991px) {
            padding-top:100px !important;
            padding-bottom: 100px !important;
            padding:10px;
            height: auto;
        }

        h1 {
            color: $light-primary;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            @media screen and (max-width: 991px) {
                font-size:15px;
            }
        }
        .list {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .list-card {
                width: calc(33% - #{$marginService} - #{$marginService / 2});
                max-width: 330px;
                margin-bottom: $marginService;
                transition: all 200ms ease-in-out;

                @media screen and (max-width: 991px) {
                    width: 100%;
                    margin: $mobile-margins !important;
                }

                &:nth-child(odd) {
                    margin-right: $marginService / 2;
                    margin-left: $marginService;
                }

                &:nth-child(even) {
                    margin-left: $marginService / 2;
                    margin-right: $marginService;
                }
            }
        }
    }
</style>